

body { 
    /* background: #4b00009f !important; */
    background: #f8f3ee !important;
}

.nav-link {
    /* color: #800000 !important; */
    color: white !important;
}


/* social media icons styling */
.social-icons {
    font-size: 100px;
    cursor: pointer;
}
.fa-facebook:hover,.fa-instagram:hover,.fa-twitter:hover,.fa-linkedin:hover, .fa-twitch:hover, .fa-goodreads:hover, .fa-github:hover , .navText:hover {
    color: #008080 !important;
}
.fab {
    color: white;
}
/* footer styling */
#footer {
    background-color: #808080;
    text-align: center;
}

/* about section image css */
.imageAboutPage {
    width: 100%;
}

.imageIntroPage{
    width: 100%;
}
.navbar-nav {
    font-family: 'Merriweather', serif;
    color: #800000;
}

.navBack {
    /* background-color:  #fce5cce7; */
    background-color: #4b0000bd;
}

.navbarScroll.navbarDark {
    background-color: black;
}

.navText {
    /* color: #800000; */
    color: white;
}

.text {
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
    font-size: 10pt;
    color: #3d3c3c;
}

.poopy{
    background-color: #f8f3ee;
    padding-top: 1rem;
    margin-bottom: 1rem;
    padding-bottom: 1rem;

}

.introText{
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
    font-size: 30pt;
    color: #3d3c3c;
}

#footer {
    background-color: #fce5cce7;
    text-align: center;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }